@import url('../../styles/variable.css');

.productContainer {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.productHeader {
    display: flex;
    justify-content: space-between;
    background-color: #26283c;
    padding: 15px;
    border-radius: 14px;
}

.productHeader h2 {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: #c7c7c7;
}


.productOption {
    width: 30%;
    border-radius: 14px;
    background-color: #5a5b70;
    border: transparent;
    color: #f2f2f2;
    font-size: 14px;
    font-family: var(--font-roboto);
}

.productMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    height: 70vh;
    overflow-y: auto;

}


.productPagination {
    margin-top: auto;
    display: flex;
    justify-content: center;

}