@import url("../../styles/variable.css");

.restaurant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 33px;
    background-color: #27283C;
    border-radius: 14px;
    height: 73px;
}

.restaurant-container {
    display: flex;
    flex-direction: column;
    min-height: 90%;
}

.restaurant-header h2 {
    font-size: 20px;
    font-family: var(--font-roboto);
    color: #f2f2f2;

}

.right-side-items {
    display: flex;
    justify-content: space-evenly;
}



.food-company-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.restaurant-paginations {
    display: flex;
    justify-content: center;
    margin-top: auto
}