@import url("../../styles/variable.css");

.restaurant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 33px;
}

.restaurant-container {
    display: flex;
    flex-direction: column;
    min-height: 90%;
}

.restaurant-header h2 {
    font-size: 20px;
    font-family: var(--font-roboto);
    color: #f2f2f2;
}

.right-side-items {
    display: flex;
    align-items: center;
}

.restaurantOptions {
    font-size: 14px;
    font-family: var(--font-roboto);
    width: 199px;
    height: 35px;
    border-radius: 14px;
    background-color: #5a5b70;
    border: transparent;
    color: #f2f2f2
}

.food-company-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.restaurant-paginations {
    display: flex;
    justify-content: center;
    margin-top: auto
}