.cardItem {
    width: 196px;
    height: 273px;
    padding: 15px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    margin: 10px;
}


.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.cardItem h3 {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: #1e1e30;
    margin-top: 10px;
}

.cardItem p {
    font-size: 12px;
    color: #8E8E93;
    font-family: var(--font-roboto);
    font-weight: 500;

}

.cardItem span {
    font-size: 12px;
    font-weight: 500;
    color: #00B2A9;

}

.rubbishBin {
    width: 25px;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 25px;
    right: 10px;
}